.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 240px;
  background: #222;
  color: #fff;
  padding: 20px;

  h2 { margin-bottom: 20px; }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 12px;
      background: #333;
      margin-bottom: 10px;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;

      &.active, &:hover {
        background: #f39c12;
      }
    }
  }
}

.content {
  flex: 1;
  padding: 20px;
  background: #f4f4f4;
}
