<div class="forgot-container">

  <!-- Step 1: Send OTP -->
  <form [formGroup]="forgotForm" (ngSubmit)="sendEmail()" *ngIf="!otpSent">
    <h2>Forgot Password</h2>
    <input type="email" formControlName="email" placeholder="Enter your email" />

    <button type="submit">Send OTP</button>
  </form>

  <!-- Step 2: OTP + Reset Password -->

  <form [formGroup]="otpForm" *ngIf="otpSent" (ngSubmit)="verifyOtpAndReset()">
    <h2>Verify OTP & Reset Password</h2>

    <input type="text" formControlName="otp" placeholder="Enter OTP" />

    <input type="password" formControlName="newPassword" placeholder="Enter New Password" />

    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />

    <button type="submit">Reset Password</button>
</form>



</div>
