<div class="order-wrapper">
  <h2>Order Summary</h2>

  <div *ngFor="let item of cart" class="order-item">
    <!-- COMMON STRUCTURE 1 -->
<p *ngIf="item.product">
  {{ item.product.name }} (x{{ item.quantity }})
</p>

<!-- COMMON STRUCTURE 2 -->
<p *ngIf="item.productName">
  {{ item.productName }} (x{{ item.quantity }})
</p>

<!-- COMMON STRUCTURE 3 -->
<p *ngIf="item.name">
  {{ item.name }} (x{{ item.quantity }})
</p>
<p *ngIf="item.product">₹{{ item.product.price * item.quantity }}</p>
<p *ngIf="item.productPrice">₹{{ item.productPrice * item.quantity }}</p>
<p *ngIf="item.price">₹{{ item.price * item.quantity }}</p>


  </div>

  <h3>Total: ₹{{ total }}</h3>

  <button class="place-btn" (click)="placeOrder()">Place Order</button>
</div>

<!-- POPUP -->
<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-box">
    <h3>🎉 Order Placed Successfully!</h3>
    <p>Your order has been confirmed.</p>

    <button class="ok-btn" (click)="closePopup()">OK</button>
  </div>
</div>
