<div class="product-detail" *ngIf="product; else loading">
  <img [src]="product.imageUrl" alt="{{product.name}}" loading="lazy" class="product-image" />
  <div class="product-info">
    <h2>{{ product.name }}</h2>
    <p class="price">₹{{ product.price }}</p>
    <p class="description">{{ product.description }}</p>
    <p><strong>Category:</strong> {{ product.category }}</p>
    <p><strong>In Stock:</strong> {{ product.stockQuantity }}</p>

    <button class="btn-add-cart" (click)="addToCart()">Add to Cart</button>
  </div>
</div>

<ng-template #loading>
  <p>Loading product details...</p>
</ng-template>
