.product-detail {
  display: flex;
  gap: 2rem;
  max-width: 1000px;
  margin: 2rem auto;

  .product-image {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  .product-info {
    flex: 1;

    h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    .price {
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    .description {
      margin-bottom: 1rem;
    }

    .btn-add-cart {
      background-color: #321c44;
      color: white;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #ffffff;
        color: #321c44;
      }
    }
  }
}
